@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@config "./tailwind.config.js";

.custom-shape-divider-bottom-1786354546 {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1786354546 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 140px;
  transform: rotateY(180deg);
  z-index: -1;
}

.custom-shape-divider-bottom-1786354546 .shape-fill {
  fill: #F9B800;
}
